@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --fs-xs: 15px;
    --fs-sm: 16px;
    --fs-base: 18px;
    --fs-lg: 20px;
    --fs-xl: 20px;
    --fs-xxl: 20px;
    --fs-2xl: 20px;
    --fs-4xl: 23px;
    --fs-5xl: 24px;
    --fs-6xl: 25px;
    /* COLOR */
    --color-lightGray: #D6D4D4E0;
    --color-gray: #808080;
    --color-lightBlack: #18191F;
    --color-light: #e6e6e6;
    --color-red: #B00000;
}

.color_lightGray {
    color: var(--color-lightGray);
}

.color_red {
    color: var(--color-red);
}

.bg_red {
    background-color: var(--color-red);
}

.bg_gray {
    background-color: var(--color-gray);
}

.color_light_e6 {
    color: var(--color-light);
}

.color_gray {
    color: var(--color-gray);
}

.color_light_black {
    color: var(--color-lightBlack);
}

.fs_6xl {
    font-size: var(--fs-6xl);
}

.fs_xs {
    font-size: var(--fs-xs);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_base {
    font-size: var(--fs-base);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_xxl {
    font-size: var(--fs-xxl);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_4xl {
    font-size: var(--fs-4xl);
}

.fs_5xl {
    font-size: var(--fs-5xl);
}

@media (min-width:638.98px) {
    :root {
        --fs-xs: 16px;
        --fs-sm: 18px;
        --fs-base: 18px;
        --fs-lg: 21px;
        --fs-xl: 23px;
        --fs-xxl: 25px;
        --fs-2xl: 30px;
        --fs-4xl: 35px;
        --fs-5xl: 38px;
        --fs-6xl: 42px;
    }
}

@media (min-width:767.98px) {
    :root {
        --fs-base: 20px;
        --fs-lg: 23px;
        --fs-xl: 25px;
        --fs-xxl: 27px;
        --fs-2xl: 32px;
        --fs-4xl: 36px;
        --fs-5xl: 39px;
        --fs-6xl: 40px;
    }
}

@media (min-width:1023.98px) {
    :root {
        --fs-lg: 23px;
        --fs-xl: 28px;
        --fs-xxl: 30px;
        --fs-2xl: 42px;
        --fs-4xl: 42px;
        --fs-5xl: 45px;
        --fs-6xl: 46px;
    }
}
@media (min-width:1199.98px) {
    :root {
        --fs-lg: 25px;
        --fs-xl: 28px;
        --fs-xxl: 30px;
        --fs-2xl: 42px;
        --fs-4xl: 48px;
        --fs-5xl: 50px;
        --fs-6xl: 64px;
    }
}